extends layout

block content
	.container
		.content
			h1
				a(href='http://cisong.eu/profile') 
					i.fa.fa-male
					&nbsp;&nbsp;Ci SONG

	.container
		.content
			h1
				a(href='http://blog.imcisong.com')
					i.fa.fa-wordpress
					&nbsp;&nbsp;BLOG


	include ./footer.jade