doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='keywords', content='nodejs, express, expert in BI, Ci SONG')
    meta(name='description', content='Professional at Business Intelligence')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Laila:600')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100')
  body
    block content
